<p>Hello Login</p>
<form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input nickname" type="text" id="nickname">
        <label class="mdl-textfield__label" for="nickname">Nickname</label>
        <span class="mdl-textfield__error">Veuillez entrer un Nickname</span>
    </div>
</form>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent eStart">Start</button>
<!-- ^(?!\s*$).+ -->
<!-- \w* -->
<!-- áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸ -->
<!-- [a-z@-Z\d\xC0-\xFF_\-]{3,16} -->