menu-component {
  width: 100%;
  display: block;
  padding-bottom: 50px;

//   .mdl-layout__container {
//     position: relative;
//   }

  // .mdl-layout__drawer {
  //     position: absolute;
  // }
}
