<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row headerRow">
            <span class="mdl-layout-title">BotBattlefield</span>
            <div class="mdl-layout-spacer"></div>
            <!-- <h3>test</h3> -->
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">BotBattlefield</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Paramètres</a>
        </nav>
    </div>
</div>