player-list {
  table {
    // width: 100%;
    // display: block;
    margin: auto;

    td {
        cursor: pointer;
        &:hover {
            background: rgb(122, 122, 122);
        }
    }
  }

  .button {
    text-align: center;
  }

  tbody{
    display: block;
    overflow-y: scroll;
    max-height:400px;
  }
}
